@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

* {
  font-family: 'Roboto', arial, 'sans-serif';
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #f7efd8;
}

body {
  margin: 0;
  background-color: rgb(21, 7, 0);
}

.nav {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  border-radius: 5px;
  margin: 10px auto;
  padding: 25px;
  background-color: #330a0a;
  background: rgb(51, 10, 10);
  background: linear-gradient(
    90deg,
    rgba(51, 10, 10, 1) 0%,
    rgb(80, 22, 22) 50%,
    rgba(51, 10, 10, 1) 100%
  );
}

.key-buttons-wrapper {
  display: flex;
  justify-content: center;
  width: 400px;
  flex-wrap: wrap;
}

.modifier-buttons-wrapper {
  width: 200px;
}

.key-selector {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 0 5px 0 5px;
}

.key-modifier {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 5px;
}

.key-button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #f7efd8;
  border-radius: 50%;
  font-size: 1.3em;
}

.key-button:hover {
  background-color: #583b2d;
  color: white;
}

.key-button:focus {
  outline: none;
}

.scales-wrapper {
  border-radius: 5px;
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #583b2d;
  color: black;
  background: rgb(71, 44, 32);
  background: linear-gradient(
    90deg,
    rgba(71, 44, 32, 1) 0%,
    rgba(120, 71, 48, 1) 50%,
    rgba(71, 44, 32, 1) 100%
  );
}

.modes-wrapper {
  margin: 10px;
  height: 75px;
  display: flex;
  justify-content: center;
  font-size: 1.7em;
}

.scale-note {
  display: inline;
}

.scale-notes {
  border-radius: 3px;
  background-color: #f7efd8;
  display: flex;
  align-items: center;
  height: 100%;
}

.mode-name {
  background-color: #f5a270;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  margin: 10px;
  border-radius: 3px;
  overflow: hidden;
}

.note-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 75px;
  text-align: center;
}

.numeral {
  font-family: 'Roboto Slab', serif;
  width: 100%;
  height: 30px;
  font-size: 0.7em;
}

.scale-note {
  width: 100%;
  font-size: 1.1em;
}

.footer {
  background-color: #330a0a;
  margin-top: 75px;
  height: 50px;
  width: 100%;
}

@media (max-width: 860px) {
  .nav {
    border-radius: 0px;
    margin: 0px auto;
  }

  .scales-wrapper {
    flex-direction: column;
  }

  .modes-wrapper {
    flex-direction: column;
    height: auto;
  }

  .mode-name {
    min-width: 525px;
    margin: 0 auto 10px auto;
  }

  .key-selector {
    margin-bottom: 10px;
  }

  .scales-wrapper {
    border-radius: 0;
  }

  .scale-notes {
    justify-content: center;
    max-width: 650px;
    margin: 0 auto;
  }
}
