@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', arial, 'sans-serif';
}

.key-selector {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 5px 0 5px;
}

.key-modifier {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.key-button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: #c4f1ff;
    border-radius: 50%;
}

.key-button:hover {
    background-color: #2f6e9c;
    color: white;
}

.key-button:focus {
    outline: none;
}

.scale-notes-wrapper {
    border-bottom: solid black 1px;
}

.scale-note {
    display: inline;
    margin-right: 10px;
}